/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: "Merriweather";
    color: #333;
    font-size: 14px;
    line-height: 1.6em;
}
.blanco h1{
    color: white;
    text-shadow: 1px 1px 0 #333,
                  -1px -1px #333,
                   1px -1px #333,
                  -1px 1px #333,
                   0 1px #333,
                   1px 0 #333,
                  -1px 0 #333,
                   0 -1px #333;
}

.blanco h3{
    color: white;
}

.row{
   padding-top: 180px;
}

.row2{
    margin-top: 10px;
}
.top15{
    margin-top: -4%;
}
.bottom15{
    margin-bottom: 5%;
}

.row4{
    padding-top: 15px;
}

.row5{
    padding-top: 1800px;
}

.maspading{
    padding-left: 9%;
    padding-right: 9%;
}

/*TEXTO*/
.justifytext{
    text-align:justify;
   
}
.justifytext2{
     text-align: normal;
}
.texto-centrado{
    text-align: center;
    /*border: 2px solid black; */
}
.txtintro{
    font-size: 16px;
}
.txtintro p{
    line-height: 27px; 
}
.txtnormal {
    font-size: 16px;
    font-family: "Merriweather";
    line-height: 40px;
}
.txtpoema{
    white-space: pre;
    line-height: 40px;
    color: #7f7f7f;
}
blockquote{
    font-style: italic;
    line-height: 40px;
    color:#406E82;
    border: none;
}
.fuentes{
    font-size:12px;
    float: right;
    color:#406E82;
}

span{
    font-size: 20px;
}

.position{
position: absolute;
}

/* FIN TEXTO*/
.total{
    width: 100%;  
}

.nopadding{
    padding-left: 0px;
    padding-right: 0px;
}
.nopadding2{
    padding: 0px;
}
.notopnobottom{
    padding-bottom:0px; 
    padding-top:0px;
}
.imagen100 img{
width: 100%;
height: auto;
}

.margin-top1{
    margin-top: 200px;
}
.margin-top2{
    margin-top: 15%;
}
.margin-top3{
    margin-top: 5%;
}
.margin-top4 {
    margin-top: 35%;
}
.-margin{
    margin-top: -15%
}
.index2{
    z-index: 2;
    position: absolute;
}
.index1{
    z-index: 1;
    position: absolute;
}
.rotation{
transform:rotate(25deg);
}
.rotation2{
transform:rotate(-25deg);
}
.masabajo{
    padding-top: 50px;
}
/*
.color1{
    background-color: red;
}
.color2{
    background-color: blue;
}
.color3{
    background-color: orange;
}
.color4{
    background-color: green;
}
.color5{
    background-color: purple;
}
.color6{
    background-color: aqua;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}