body{ 
	margin:0px;
	padding: 0px;
	font-family: "Merriweather";
	color:#000;
	}

h1{
	font-size: 50px;
	font-family: "Montserrat";
	padding-left: 10px;
	
}

h2{
	font-size: 30px;
	font-family: "Montserrat";
}

.imgportada{
	float: right;
	transform:rotate(-5deg);

}

.citainicio{
	font-family: "Merriweather";
	font-size: 16px;
	font-weight: 200;
	margin-top: 30px;
	line-height: 28px;

	
}
.fondo-negro{
	background-color: #000;
	background-image: url(../img/port3.png);
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: 100px 160px;
	color: #fff;
	height: 100px;
	transform:rotate(-6deg);

}

.btn-primary{
	background-color: #000;
	border-style: solid;
	border-width: 2px;
	border-color:#fff;
	margin-top: 60px;
	font-size: 17px;
	font-family: "Montserrat"
}

.btn-primary:hover{
	background-color: #999;
	border-style: solid;
	border-width: 2px;
	border-color:#fff;
	
}

.index{
	margin-top: 30px;
	margin-left: 30px;
}

.titulo2{
	margin-left: 60px;
}

.btn-primary2{
	background-color: #000;
	border-style: solid;
	border-width: 2px;
	border-color:#fff;
	font-size: 17px;
	margin-top: 5px;
	font-family: "Montserrat"
}

.btn-primary2:hover{
	background-color: #999;
	border-style: solid;
	border-width: 2px;
	border-color:#fff;



